header {
	background-color: #222;
	color: #fff;
	padding: 20px;
}

h1 {
	font-size: 36px;
}

section {
	padding: 20px;
}

p {
	font-size: 24px;
	margin: 10px 0;
}

#current-temp {
	font-size: 48px;
	font-weight: bold;
}

#min-temp, #max-temp, #avg-temp {
	font-weight: bold;
}
